@import "../../style/fonts";
@import "../../style/variables";
@import "../../style/function";
.login{
    @include margin(303,0,140,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__form{
        @include size(916,334);
        @include padding(83,0,24,0);
        border: find-size(4, 100vw, $width-main) solid $main_color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__field{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include size(768,88);
        &_bottom{
            @include width(768);
            display: flex;
            justify-content: flex-end;
        }
    }
    &__input{
        @include size(467,88);
        @include padding(0,15,0,25);
        background-color: $form_input_color;
        border: 0;
        border-radius: border_rad(30);
        @include font_size(35,48);
        color: $font_color;
        font-weight: 400;
        font-family: OpenSans;
    }
    &__text{
        @include font_size(35,48);
        color: $font_color;
        font-weight: 700;
        font-family: OpenSans;
    }
    &__buttom{
        @include size(172,70);
        border: 0;
        border-radius: border_rad(20);
        background-color: $pressed_buttton-color;
        @include font_size(29,39);
        color: $font_color;
        font-weight: 400;
        font-family: OpenSans;
    }
}