@font-face {
    font-family: OpenSans;
    src: url('./fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Volkhov;
    src: url('./fonts/Volkhov/Volkhov-Bold.ttf');
}